<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Success Notification</title>
</head>
<body style="margin: 0; padding: 0; width: 100%; height: 100%; background-color: #f5f5f5;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; background-color: #f5f5f5;">
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" style="max-width: 650px; margin: 0 auto; background-color:#fff; font-family: arial, sans-serif;">
				<!-- header -->
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; padding: 50px 30px 0 30px;">
							<tr>
								<td>
									<img src="https://weam.ai/app/uploads/2024/08/logo.png" alt="weam" style="width: 120px;">
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- body -->
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; padding: 15px 30px 30px 30px;">
							<tr>
								<td style="font-size: 18px; line-height: 26px;">
									<p>Hey <strong style="color: #6637EC;">{{username}},</strong></p>
									<p>{{content_body}}</p>
									<p>Checkout your custom prompt:</p>
								</td>
							</tr>
							<tr>
								<td style="height: 15px;">&nbsp;</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" width="200px" style="width: 200px;">
										<tr>
											<td>
												<a href="{{url}}" style="background-color: #6637EC; color: #FFF; padding: 8px 20px; text-decoration: none; border-radius: 5px; display: inline-block;">Custom Prompt</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td style="height: 15px;">&nbsp;</td>
							</tr>
							<tr>
								<td style="font-size: 16px; line-height: 24px; color: #454545; border: 1px dashed #ddd; padding: 15px;">
									<p>This is just one way Weam makes it easier to store and manage key information for your team. If you have more URLs, feel free to add them, and Weam will handle the rest!</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- footer -->
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; padding: 15px 0 0 0;">
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; padding: 15px 30px 15px 30px; background-color: #6637EC; color: #FFFFFF;">
										<tr>
											<td>
												<table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
													<tr>
														<td style="padding-right: 30px; line-height: 24px;">
															<p style="color: #FFFFFF;">If you need any help, don’t hesitate to reach out. We’re here to ensure Weam fits perfectly into your workflow.</p>
														</td>
														<td style="line-height: 26px;">
															<p>
																 <a href="mailto:hello@weam.ai" target="_blank" style="color: #FFF;">hello@weam.ai</a><br>
																 <a href="https://weam.ai/" target="_blank" style="color: #FFF;">www.weam.ai</a></p>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>				
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
